[Desktop Entry]
Name=Flow Download Manager
Comment=Fast multi-threaded download manager
Exec=flow
Icon=flow
Terminal=false
Type=Application
Categories=Network;FileTransfer;
Keywords=download;manager;accelerator;
StartupNotify=true
